// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "bootstrap-overrides.scss";
@import "archive.scss";
@import "magazine.scss";
@import "article.scss";

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.base-text {
    p {
        text-align: justify;
        text-indent: 20px;
    }
}

.masthead {
    // background: $primary;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,23,79,1) 50%, rgba(2,0,36,1) 100%);
    background-size: cover;
    background-position: center right;
    min-height: 517px;
    margin-bottom: 80px;
    padding-top: 80px;
}

.base-title-2 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: $primary;
    margin-bottom: 20px;
}

.base-link {
    color: $primary;
}

.featurette-heading {
    color: $primary;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}

.primary {
    color: $primary;
}

.bold {
    font-weight: 500;
}

.home {
    &__btn-top {
        width: 50px;
        height: 50px;
        background: $primary;
        border-radius: 100px;
        display: flex;
        position: fixed;
        bottom: 50px;
        left: 50px;
        opacity: 0.5;
        transition: 200ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &-icon {
            display: block;
            width: 75%;
            margin: auto;
        }
    }
}

.home-banner {
    display: flex;
    justify-content: space-between;

    &__magazines {
        display: flex;
        flex-basis: 40%;
    }
}

.home-carousel {
    display: flex;
    align-items: center;

    &__preview {
        flex-basis: 50%;
        max-width: 50%;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-height: 400px;
            height: 350px;
        }
    }

    &__content {
        flex-basis: 50%;
        padding-left: 20px;

        &-text {
            text-align: center;
        }
    }
}

.home-info {
    flex-basis: 50%;

    &__header {
        display: flex;
        max-height: 150px;
        position: relative;

        &-number {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    &__logo {
        &-rgppu {
            flex-basis: 70%;
        }

        &-soviet {
            flex-basis: 30%;

            .home-info__logo-img {

            }
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom left;
        }
    }
}

.home-magazines {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__item {
        flex-basis: 20%;
        max-width: 20%;

        &-img {
            width: 100%;
        }
    }
}

.home-registration {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
    text-indent: 0;
}

.staff-container {
    position: relative;
}

.staff {
    justify-content: center;

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: none;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        transition: 200ms;
        cursor: pointer;

        &:hover {
            background: $gray-500-op20;
        }

        &-prev {
            right: 100%;
        }

        &-next {
            left: 100%;
        }

        &-icon {
            width: 90%;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
    }

    &__avatar {
        width: 170px;
        height: 250px;
        overflow: hidden;
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 20px;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    &__name {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        display: block;
        color: $black;
        text-decoration: none;
        transition: 200ms;

        &:hover {
            color: $primary;
        }
    }

    &__desc {
        font-size: 14px;
        text-align: center;
        text-indent: 0;
        margin-top: 5px;
    }
}

.about {
    margin-bottom: 80px;

    &__layout {
        display: flex;
        flex-wrap: wrap;
    }

    &__info {
        flex-basis: 70%;
    }

    &__heading {
        font-size: 24px;
        margin-bottom: 20px;
        color: $primary;
    }

    &__lead {
        text-align: center;
        width: 100%;
    }

    &__preview {
        max-width: 300px;
        flex-basis: 30%;
        float: right;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    &__сhief-editor {
        margin-bottom: 20px;
        float: left;
        max-width: 250px;
        margin-right: 20px;

        &-avatar {
            width: 100%;
            margin-bottom: 10px;
        }

        &-position,
        &-name {
            text-align: center;
            margin-bottom: 0;
            font-size: 24px;
            line-height: 1.2em;
            font-weight: 400;
        }

        &-position {
            color: $primary;
        }
    }

    &__index {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        &-link {
            text-transform: none;
            margin: 0 auto;
            transition: 200ms;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        &-img {
            max-width: 100%;
            max-height: 80px;
            transition: 200ms;
        }
    }
}

.double-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    &__item {
        flex-basis: 35%;

        &.second {
            flex-basis: 55%;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 300;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 18px;
        font-weight: 300;

        &-item {
            padding-left: 20px;
            position: relative;
            margin-bottom: 10px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                width: 7px;
                height: 7px;
                border-radius: 20px;
                background: $primary;
            }
        }
    }
}

.schedule {
    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex-basis: 20%;

        &-title {
            font-size: 24px;
            line-height: 1.2em;
            color: $secondary;
            font-weight: 400;
            margin-bottom: 20px;
            text-align: center;
        }

        &-date {
            font-size: 18px;
            line-height: 1.2em;
            font-weight: 300;
            margin-bottom: 15px;
            text-align: center;
        }
    }
}

.base-list {
    li {
        margin-bottom: 10px;
    }

    &__text {
        text-align: justify;
        text-indent: 0;
        margin: 0;
        margin-bottom: 10px;
    }
}

.popular-articles {
    margin-top: 20px;

    &__title {
        font-size: 24px;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
        color: $primary;
    }

    &__list {
        font-size: 14px;

        &-item {
            transition: 200ms;

            &:hover {
                background: $gray-500-op20;
            }
        }
    }

    &__link {
        color: $black;
        text-decoration: none;
        transition: 200ms;

        &:hover {
            color: $primary;
        }
    }

    &__name {
        text-transform: uppercase;
    }

    &__name,
    &__number,
    &__authors {
        margin: 0;
        text-align: center;
        text-indent: 0;
    }
}

.page {
    margin-top: 20px;
}

.nav-history {
    margin-bottom: 20px;

    &__btn {
        font-size: 16px;
    }
}

.footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    margin-top: 40px;

    &__text {
        text-align: center;
    }
}


@media screen and (max-width: 1400px) {
    body {
        font-size: 14px;
    }

    .home-carousel {
        &__content {
            &-title {
                font-size: 14px;
            }

            &-text {
                font-size: 12px;
            }

            &-btn {
                font-size: 12px;
            }
        }

        &__preview {
            &-img {
                height: 200px;
            }
        }
    }

    .home-info {
        &__header {
            max-height: 120px;

            &-number {
                font-size: 12px;
            }
        }
    }

    .home-registration {
        font-size: 14px;
        margin-top: 14px;
    }

    .masthead {
        min-height: 500px;
        margin-bottom: 50px;
    }

    .about {
        margin-bottom: 50px;

        &__preview {
            padding-left: 15px;
        }

        &__heading {
            font-size: 20px;
            margin-bottom: 16px;
        }

        &__сhief-editor {
            margin-bottom: 15px;
            margin-right: 15px;

            &-position {
                font-size: 20px;
            }

            &-name {
                font-size: 20px;
            }
        }
    }

    .popular-articles {
        &__title {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    .base-title-2 {
        font-size: 24px;
    }

    .staff {
        &__name {
            font-size: 16px;
        }
    }

    .double-list {
        &__title {
            font-size: 18px;
        }

        &__list {
            font-size: 16px;
        }
    }

    .schedule {
        &__item {
            &-title {
                font-size: 20px;
                margin-bottom: 15px;
            }

            &-date {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }

    .sample {
        &__btn {
            font-size: 14px;
        }
    }

    .footer {
        padding: 20px 0;
    }

    .home {
        &__btn-top {
            bottom: 50px;
            left: 50px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav-history {
        &__btn {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 990px) {
    .home-banner {
        flex-direction: column;
        padding-bottom: 20px;

        &__magazines {
            margin: 20px auto;
        }
    }

    .navbar-nav {
        background: $secondary;
        padding: 10px 0;
        position: relative;
        z-index: 2;
    }

    .about {
        &__layout {
            flex-wrap: wrap;
        }

        &__info {
            flex-basis: 100%;
        }

        &__preview {
            flex-basis: 100%;
            padding: 0;
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: 600px) {
    .staff {
        &__btn {
            display: none;
        }
    }

    .schedule {
        &__flex {
            flex-wrap: wrap;
        }

        &__item {
            flex-basis: 40%;
            margin-bottom: 20px;
        }
    }

    .home {
        &__btn-top {
            bottom: 25px;
            right: 25px;
            left: auto;
        }
    }

    .carousel-btn {
        display: none;
    }
}
