.article {
    margin: 40px 0;

    &__title {
        font-size: 24px;
        text-align: center;
        margin: 20px 0;
    }

    &__authors {
        font-size: 16px;
        text-align: center;
    }

    &__links {
        text-align: center;
    }

    &__download {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}

.annotation {
    max-width: 900px;
    margin: 0 auto;

    &__title {
        font-size: 22px;
        text-align: center;
    }
}
