.article {
    margin: 40px 0;

    &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__authors {
        font-size: 16px;
        text-align: center;
    }

    &__links {
        text-align: center;
    }

    &__download {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}

.annotation {
    max-width: 900px;
    margin: 0 auto;

    &__title {
        font-size: 22px;
        text-align: center;
    }
}


@media screen and (max-width: 1200px) {
    .article {
        margin: 20px 0;

        &__title {
            margin-bottom: 15px;
            font-size: 22px;
        }

        &__authors {
            font-size: 14px;
        }

        &__links {
            font-size: 14px;
        }

        &__download {
            margin-bottom: 25px;
        }
    }

    .annotation {
        &__title {
            font-size: 20px;
        }
    }
}
