.article {
    margin: 40px 0;

    &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__authors {
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__author {
        max-width: 150px;
        margin: 0 20px;
        margin-bottom: 20px;

        &-img {
            max-width: 100%;
            margin-bottom: 15px;
            width: 150px;
            height: 200px;
            object-fit: cover;
            display: block;
        }

        &-name,
        &-organization {
            text-align: center;
            margin: 0;
        }

        &-name {
            margin-bottom: 5px;
        }

        &-link {
            transition: 200ms;
            color: $black;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }

    &__links {
        text-align: center;
    }

    &__download {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}

.annotation {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;

    &__title {
        font-size: 22px;
        text-align: center;
    }

    &__text {
        margin: 0;
    }

    &__collapse {
        &-icon {
            width: 25px;
            transition: 200ms;
            transform: rotate(-90deg);
            margin-left: 10px;

        }

        &-btn {
            color: $black;
            text-decoration: none;
            transition: 200ms;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: $primary;
            }

            &.collapsed {
                .annotation__collapse-icon {
                    transform: rotate(90deg);
                }
            }
        }

    }
}


@media screen and (max-width: 1200px) {
    .article {
        margin: 20px 0;

        &__title {
            margin-bottom: 15px;
            font-size: 22px;
        }

        &__authors {
            font-size: 14px;
        }

        &__links {
            font-size: 14px;
        }

        &__download {
            margin-bottom: 25px;
        }
    }

    .annotation {
        margin-bottom: 25px;

        &__title {
            font-size: 20px;
        }

        &__collapse {
            &-icon {
                width: 20px;
                transition: 200ms;
                transform: rotate(-90deg);
                margin-left: 5px;
            }
        }
    }
}
