.magazine {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &__cover {
        max-height: 400px;
        max-width: 30%;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    &__info {
        max-width: 50%;

        &-title {
            font-size: 20px;
            margin-bottom: 20px;
        }

        &-name {
            font-size: 16px;
        }

        &-text {
            font-size: 14px;
        }
    }
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    &__list {
        margin: 0 auto;

        &-title {
            font-size: 16px;
            margin-top: 10px;
        }

        &-text {
            font-size: 14px
        }

        &-links {
            display: flex;
            justify-content: center;
        }

        &-link {
            margin: 0 10px;
        }
    }
}
